{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
   

    <div class="col-md-4 phone-section">
    </div>


    <div class="col-md-4 form-section">
      {{form.media}}

    {% if form.errors %}
        <p>Please enter correct value</p>
      {% endif %}

      <div class="panel panel-default" style="margin-top:150px;">

        <div class="panel-body">

          <div class="text-center">
            <h3>Create your profile</h3>
          <form action="{% url 'update-profile' %}" method="post" enctype="multipart/form-data">

            {% csrf_token%}
            {% bootstrap_form form %}

            <div class="form-group">
              <input type="submit" class="btn btn-danger login-button" value="Post">

            </div>
            <input type="hidden" name="next" value="/">

          </form>
        </div>
        </div>

      </div>

    </div>
    
    <div class="col-md-4"></div>
  </div>

</div>

<style>
   body{
    background-image: url("https://cdn.pixabay.com/photo/2015/07/28/22/01/office-865091__340.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.panel{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) fixed;
}
p, label,a{
  color:white;
  font-size: 15px;
}
.panel-default{
  border-color: inherit;
}
input,h3{
  text-align: center;
  color: white;
}

</style>
{% endblock %}
